<h1 id="title" class="title">Forgot password</h1>

<div>
  <form
    (ngSubmit)="requestPass()"
    [formGroup]="forgotForm"
    aria-labelledby="title"
    novalidate
  >
    <div class="form-control-group">
      <label class="label" for="input-email">Email:</label>
      <input
        nbInput
        fullWidth
        formControlName="email"
        name="email"
        id="input-email"
        pattern=".+@.+\..+"
        placeholder="Email address"
        autofocus
        [status]="
          forgotForm.get('email').touched
            ? forgotForm.get('email').invalid
              ? 'danger'
              : 'success'
            : ''
        "
        [attr.aria-invalid]="
          forgotForm.get('email').invalid && forgotForm.get('email').touched
            ? true
            : null
        "
      />
      <ng-container
        *ngIf="
          forgotForm.get('email').invalid &&
          forgotForm.get('email').touched &&
          forgotForm.get('email').dirty
        "
      >
        <p class="caption status-danger" *ngIf="getError('email', 'required')">
          Email not empty!
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('email', 'invalidEmail')"
        >
          Email not valid!
        </p>
      </ng-container>
    </div>

    <button
      nbButton
      fullWidth
      [disabled]="!forgotForm.valid"
      type="submit"
      status="success"
      [nbSpinner]="submitted"
      nbSpinnerStatus="primary"
      nbSpinnerSize="large"
    >
      Request password
    </button>
  </form>
  <section class="another-action" aria-label="Register">
    Back to Log In
    <a class="text-link" [routerLink]="['../login']">login</a>
  </section>
  <section class="another-action" aria-label="Sign in">
    Or create new account
    <a class="text-link" [routerLink]="['../register']" style="cursor: pointer;"
      >Register</a
    >
  </section>
</div>
