:host {
  .form-group:last-of-type {
    margin-bottom: 3rem;
  }
}
.form-control-group {
  margin-bottom: 2rem;
}
button {
  cursor: pointer;
  outline: none;
  i {
    cursor: pointer;
  }
}
.che {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  background: #000;
}

section {
  display: block;
}
.another-action {
  margin-top: 2rem;
  display: block;
  text-align: center;
}