@import "../../../@theme/styles/styles.scss";

@include nb-install-component() {
  position: relative;

  img {
    width: 100%;
    height: auto;
    visibility: hidden;
  }

  .svg-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .temperature-bg {
    position: absolute;
    width: 88%;
    height: 88%;
    top: 13%;
    left: 6%;
    border-radius: 50%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: nb-theme(divider-width) nb-theme(divider-style)
      nb-theme(divider-color);
  }

  .power-bg {
    position: absolute;
    width: 5.25rem;
    height: 5.25rem;
    background-color: nb-theme(card-background-color);
    border-radius: 50%;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: nb-theme(divider-width) nb-theme(divider-style)
      nb-theme(divider-color);

    &.on {
      color: nb-theme(text-hint-color);
    }
  }

  .power-icon {
    font-size: 3rem;
  }
}
