<div [nbSpinner]="submitted" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <h3 id="title" class="title">Active account</h3>

  <form
    (ngSubmit)="active()"
    [formGroup]="activeForm"
    aria-labelledby="title"
    novalidate
  >
    <div class="form-control-group">
      <label class="label" for="input-email">Email:</label>
      <input
        class="disable"
        nbInput
        fullWidth
        formControlName="email"
        name="email"
        id="input-email"
        pattern=".+@.+\..+"
        placeholder="Email"
        autofocus
      />
      <ng-container
        *ngIf="
          activeForm.get('email').invalid &&
          activeForm.get('email').touched &&
          activeForm.get('email').dirty
        "
      >
        <p class="caption status-danger" *ngIf="getError('email', 'required')">
          Email not empty
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('email', 'invalidEmail')"
        >
          Email is not valid
        </p>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label" for="input-code">Code:</label>
      <input
        nbInput
        fullWidth
        formControlName="code"
        name="code"
        id="input-code"
        placeholder="Code"
        [status]="
          activeForm.get('code').touched
            ? activeForm.get('code').invalid
              ? 'danger'
              : 'success'
            : ''
        "
      />
      <ng-container
        *ngIf="
          activeForm.get('code').invalid &&
          activeForm.get('code').touched &&
          activeForm.get('code').dirty
        "
      >
        <p class="caption status-danger" *ngIf="getError('code', 'required')">
          code not empty !
        </p>
      </ng-container>
      <!-- <ng-container>
        <section class="another-action active-send" style="text-align: right;">
          <a
            class="text-link send"
            style="cursor: pointer;"
            (click)="repeatActive()"
            >{{ "REPEAT_SEND_CODE" | transloco }} </a
          ><span *ngIf="waitActive" class="timer">
            {{ "AFTER_TIME" }} {{ waitTing$ | async }}
          </span>
        </section>
      </ng-container> -->
    </div>
    <button nbButton fullWidth [disabled]="!activeForm.valid" status="success">
      Active
    </button>
  </form>
  <section class="another-action" aria-label="Sign in">
    Login with account
    <a class="text-link" routerLink="../login" style="cursor: pointer;">
      Login
    </a>
  </section>
</div>
