.form-control-group {
  margin-bottom: 2rem;
}
.another-action {
  margin-top: 5%;
  text-align: center;
}
.disable {
  opacity: 0.8;
}
.send{
  color: #5dcfe3;
}
.another-action.active-send {
  color: #5dcfe3;
}
@media (max-width: 450px) {
  .title{
    margin-bottom: 1rem;
  }
  h1{
    font-size: 2rem;
    line-height: 2rem;
  }
}