<div [nbSpinner]="submitted" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <h3 id="title" class="title">Register</h3>
  <p class="sub-title">
    Hello! Regiser account now
  </p>

  <form
    (ngSubmit)="register()"
    [formGroup]="registForm"
    aria-labelledby="title"
    novalidate
  >
    <div class="form-control-group">
      <label class="label" for="input-username">Username:</label>
      <input
        autofocus
        nbInput
        fullWidth
        formControlName="username"
        name="username"
        id="input-username"
        placeholder="Username"
        [status]="
          registForm.get('username').touched
            ? registForm.get('username').dirty
              ? registForm.get('username').invalid
                ? 'danger'
                : 'success'
              : ''
            : ''
        "
      />
      <ng-container
        *ngIf="
          registForm.get('username').invalid &&
          registForm.get('username').touched &&
          registForm.get('username').dirty
        "
      >
        <p
          class="caption status-danger"
          *ngIf="getError('username', 'required')"
        >
          Username not empty
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('username', 'maxlength')"
        >
          Username max 50 character
        </p>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label" for="input-email">Email:</label>
      <input
        nbInput
        fullWidth
        formControlName="email"
        name="email"
        id="input-email"
        pattern=".+@.+\..+"
        placeholder="Email address"
        [status]="
          registForm.get('email').touched
            ? registForm.get('email').dirty
              ? registForm.get('email').invalid
                ? 'danger'
                : 'success'
              : ''
            : ''
        "
      />
      <ng-container
        *ngIf="
          registForm.get('email').invalid &&
          registForm.get('email').touched &&
          registForm.get('email').dirty
        "
      >
        <p class="caption status-danger" *ngIf="getError('email', 'required')">
          Email is required
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('email', 'invalidEmail')"
        >
          Email is not valid
        </p>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label" for="input-password">Password:</label>
      <input
        nbInput
        fullWidth
        formControlName="password"
        name="password"
        type="password"
        id="input-password"
        placeholder="Password"
        [status]="
          registForm.get('password').touched
            ? registForm.get('password').dirty
              ? registForm.get('password').invalid
                ? 'danger'
                : 'success'
              : ''
            : ''
        "
      />
      <ng-container
        *ngIf="
          registForm.get('password').invalid &&
          registForm.get('password').touched &&
          registForm.get('password').dirty
        "
      >
        <p
          class="caption status-danger"
          *ngIf="registForm.get('password').getError('required')"
        >
          Password not empty
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('password', 'minlength')"
        >
          Password minimum 6 character
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('password', 'maxlength')"
        >
          Password maximum 50 character
        </p>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label" for="input-confirm">Repeat password:</label>
      <input
        nbInput
        fullWidth
        formControlName="confirm"
        name="confirm"
        type="password"
        id="input-confirm"
        placeholder="Confirm password"
        [status]="
          registForm.get('confirm').touched
            ? registForm.get('confirm').dirty
              ? registForm.get('confirm').invalid
                ? 'danger'
                : registForm.get('confirm').value !==
                  registForm.get('password').value
                ? 'danger'
                : 'success'
              : ''
            : ''
        "
      />
      <ng-container
        *ngIf="
          (registForm.get('confirm').invalid &&
            registForm.get('confirm').touched &&
            registForm.get('confirm').dirty) ||
          (registForm.get('confirm').value !==
            registForm.get('password').value &&
            registForm.get('confirm').dirty)
        "
      >
        <p
          class="caption status-danger"
          *ngIf="registForm.get('confirm').getError('required')"
        >
          Repeat password not empty
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('confirm', 'minlength')"
        >
          Repeat password minimum 6 character
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('confirm', 'maxlength')"
        >
          Repeat password maximum 50 character
        </p>
        <p
          class="caption status-danger"
          *ngIf="
            registForm.get('confirm').value !== registForm.get('password').value
          "
        >
          Repeat password not match password
        </p>
      </ng-container>
    </div>

    <button
      nbButton
      fullWidth
      [disabled]="
        !registForm.valid ||
        registForm.get('confirm').value !== registForm.get('password').value
      "
      status="success"
      [class.btn-pulse]="submitted"
    >
      Register
    </button>
  </form>

  <section class="another-action">
    Đã có tài khoản
    <a class="text-link" routerLink="../login" style="cursor: pointer;"
      >Đăng nhập</a
    >
  </section>
  <section class="another-action">
    Kích hoạt tài khoản
    <a class="text-link" routerLink="../active" style="cursor: pointer;"
      >Kích hoạt</a
    >
  </section>
</div>
