:host {
  .title {
    margin-bottom: 2rem;
  }
}

.links {
  text-align: center;
  margin-top: 1.75rem;
}
section {
  display: block;
}
.socials {
  margin-top: 1.5rem;
}
.links .socials a {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1rem;
  vertical-align: middle;
}
.links .socials a {
  font-size: 2rem;
}
.form-control-group {
  margin-bottom: 2rem;
}
.title {
  margin-bottom: 2rem;
  margin-top: 0;
  text-align: center;
}
.another-action {
  margin-top: 2rem;
  display: block;
  text-align: center;
}

.loading {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 450px) {
  .title {
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}
