.btn-google {
  margin-top: 7px;
}

.links {
  text-align: center;
  margin-top: 1.75rem;
}
section {
  display: block;
}
.socials {
  margin-top: 1.5rem;
}
.links .socials a {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1rem;
  vertical-align: middle;
}
.links .socials a {
  font-size: 2rem;
}
.form-control-group {
  margin-bottom: 2rem;
}
.title {
  margin-bottom: 2rem;
  margin-top: 0;
  text-align: center;
}
.another-action {
  margin-top: 2rem;
  display: block;
  text-align: center;
}
button {
  cursor: pointer;
  outline: none;
  i {
    cursor: pointer;
  }
}

.accept-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@import "../../@theme/styles/themes.scss";

@include nb-install-component {
  .text-link {
    color: nb-theme(text-basic-color);
  }
}
