<div [nbSpinner]="submitted" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <h5 id="title" class="title">Login</h5>
  <p class="sub-title">Hello! login account</p>

  <form
    (ngSubmit)="login()"
    [formGroup]="loginForm"
    aria-labelledby="title"
    novalidate
  >
    <div class="form-control-group">
      <label class="label" for="input-email">Email:</label>
      <input
        nbInput
        fullWidth
        autofocus
        autocomplete="false"
        formControlName="email"
        name="email"
        id="input-email"
        pattern=".+@.+\..+"
        placeholder="Email"
        required
        [status]="
          loginForm.get('email').touched
            ? loginForm.get('email').dirty
              ? loginForm.get('email').invalid
                ? 'danger'
                : 'success'
              : ''
            : ''
        "
      />
      <ng-container
        *ngIf="
          loginForm.get('email').invalid &&
          loginForm.get('email').touched &&
          loginForm.get('email').dirty
        "
      >
        <p class="caption status-danger" *ngIf="getError('email', 'required')">
          Email not empty
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('email', 'invalidEmail')"
        >
          Email not valid
        </p>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label" for="input-password">Password:</label>
      <input
        nbInput
        fullWidth
        formControlName="password"
        name="password"
        type="password"
        id="input-password"
        placeholder="Password"
        [status]="
          loginForm.get('password').touched
            ? loginForm.get('password').invalid
              ? loginForm.get('password').invalid
                ? 'danger'
                : 'success'
              : ''
            : ''
        "
      />
      <ng-container
        *ngIf="
          loginForm.get('password').invalid &&
          loginForm.get('password').touched &&
          loginForm.get('password').dirty
        "
      >
        <p
          class="caption status-danger"
          *ngIf="loginForm.get('password').getError('required')"
        >
          Password not empty
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('password', 'minlength')"
        >
          Password min 6 character
        </p>
        <p
          class="caption status-danger"
          *ngIf="getError('password', 'maxlength')"
        >
          Password max 50 character
        </p>
      </ng-container>
    </div>

    <button
      nbButton
      fullWidth
      [disabled]="loginForm.invalid || submitted"
      type="submit"
      status="success"
      [class.btn-pulse]="submitted"
    >
      Login
    </button>

    <!-- <button (click)="socialSignIn('google')" class="btn-google" nbButton fullWidth status="danger" [class.btn-pulse]="submitted">
        GOOGLE
      </button> -->
  </form>

  <section class="another-action" aria-label="Register" style="color: #3366ff;">
    Don't have account
    <a class="text-link" [routerLink]="['../register']">Register</a>
  </section>
  <section class="another-action" aria-label="Sign in" style="color: #3366ff;">
    Don't active account
    <a class="text-link" [routerLink]="['../active']" style="cursor: pointer;"
      >Active</a
    >
  </section>
  <section class="another-action" aria-label="Sign in" style="color: #3366ff;">
    Or
    <a
      class="text-link"
      [routerLink]="['../forgotPassword']"
      style="cursor: pointer;"
      >Forgot password</a
    >
  </section>
</div>
