@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    position: relative;
  }

  .flip-icon {
    position: absolute;
    right: 0.625rem;
    top: 1rem;
    @include nb-rtl(right, auto);
    @include nb-rtl(left, 0.625rem);
    cursor: pointer;
  }

  ::ng-deep .flipped {
    .back-container {
      .flip-icon {
        transform: scaleX(-1);
      }
    }

    .front-container {
      .flip-icon {
        display: none;
      }
    }
  }

  ngx-earning-card-back,
  ngx-earning-card-front {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  ::ng-deep nb-card-body {
    overflow: hidden;
    display: flex;
  }
}