@import "../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}

@include nb-install-component() {
  nb-card {
    flex-direction: row;
    align-items: center;
    height: 6rem;
    overflow: visible;

    .icon-container {
      height: 100%;
      padding: 0.625rem;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5.75rem;
      height: 4.75rem;
      font-size: 3.75rem;
      border-radius: nb-theme(card-border-radius);
      transition: width 0.4s ease;
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      color: nb-theme(text-control-color);

      @each $status in nb-get-statuses() {
        &.status-#{$status} {
          $left-color: nb-theme(button-hero-#{$status}-left-background-color);
          $right-color: nb-theme(button-hero-#{$status}-right-background-color);
          background-image: linear-gradient(
            to right,
            $left-color,
            $right-color
          );

          &:hover {
            $left-hover-color: nb-theme(
              button-hero-#{$status}-hover-left-background-color
            );
            $right-hover-color: nb-theme(
              button-hero-#{$status}-hover-right-background-color
            );
            background-image: linear-gradient(
              to right,
              $left-hover-color,
              $right-hover-color
            );
          }
        }
      }
    }

    &.off {
      color: nb-theme(text-hint-color);

      .status,
      .title,
      .icon {
        color: nb-theme(text-hint-color);
      }

      @each $status in nb-get-statuses() {
        .icon.status-#{$status} {
          box-shadow: none;
          background-image: linear-gradient(to right, transparent, transparent);
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
      border-left: 1px solid transparent;
    }

    .title {
      margin: 0;
    }

    .status {
      text-transform: uppercase;
    }
  }
}

@include nb-install-component() {
  nb-tabset {
    display: flex;
    flex-direction: column;
    height: 100%;

    ::ng-deep ul {
      // make same size as card header
      border-color: transparent;
      padding-bottom: 1px;
      .tab-link {
        padding: 1.25rem 2rem;
      }
    }
  }

  nb-tab.content-active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  .slider-container {
    display: flex;
    flex: 1;
    -ms-flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  ngx-temperature-dragger {
    margin-top: -1.5rem;
    width: 100%;
    max-width: 300px;
  }
  .color_UV {
    fill: #f89300;
  }
  .slider-value-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .value {
      position: relative;
      margin: 0;

      &.temperature::before {
        position: absolute;
        content: "°";
        top: 0;
        right: -0.85rem;
      }

      &.humidity::before {
        position: absolute;
        content: "";
        top: 3px;
        right: -1.6rem;
        font-size: 0.7em;
      }
    }

    &.off {
      .value {
        color: nb-theme(text-hint-color);
        letter-spacing: 0.25rem;
        padding-left: 0.5rem;

        &::before {
          display: none;
        }
      }

      .desc {
        display: none;
      }
    }
  }

  nb-radio-group {
    display: flex;
    justify-content: space-between;
  }

  nb-radio {
    flex: 0 0 auto;
    width: calc(3.5rem + 2px);
    height: calc(3.5rem + 2px);

    ::ng-deep {
      .outer-circle,
      .inner-circle {
        display: none;
      }

      label {
        padding: 0;
      }

      .text {
        border: 1px solid transparent;
        font-size: 2.5rem;
        padding: 0.5rem;
        margin: 0;
        color: nb-theme(text-hint-color);
      }

      input:checked ~ .text {
        border-color: nb-theme(color-primary-default);
        border-radius: nb-theme(card-border-radius);
        color: nb-theme(text-primary-color);
      }
    }
  }
}
