<div class="row">
  <div class="col-md-12">
    <ngx-earningcard></ngx-earningcard>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ngx-views-list-zone
      *ngFor="let item of listDevice"
      [icon]="item.typeDevice"
      [pack]="'device-icon'"
      [name]="item.typeDevice"
      [id]="item.deviceId"
    ></ngx-views-list-zone>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <nb-toggle
          (checkedChange)="changeMode($event)"
          status="primary"
          [formControl]="toggleFormControl"
          >Auto Setting Temperature and humidifier</nb-toggle
        >
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6col-lg-6">
    <h5>Temperature</h5>
    <div class="slider-container">
      <ngx-temperature-dragger2
        [(value)]="temperature"
        [off]="modeAuto"
        [min]="temperatureData.min"
        [max]="temperatureData.max"
        [disableArcColor]="theme.arcEmpty"
        [fillColors]="theme.arcFill"
        [thumbBg]="theme.thumbBg"
        [thumbBorderColor]="theme.thumbBorder"
        (valueChange)="getNumberSpeed($event)"
        (power)="getPower2($event)"
        [type]="'speed'"
        [mode__speed]="modeAuto"
      >
        <div class="slider-value-container" [ngClass]="{ off: !modeAuto }">
          <div class="value temperature h1">
            {{ temperature | ngxRound }}
          </div>
          <div class="desc"></div>
        </div>
      </ngx-temperature-dragger2>
    </div>
  </div>
  <div class="col-sm-6 col-md-6col-lg-6">
    <h5>Humidity</h5>

    <div class="slider-container">
      <ngx-temperature-dragger2
        [(value)]="humidity"
        [off]="modeAuto"
        [min]="humidityData.min"
        [max]="humidityData.max"
        [disableArcColor]="theme.arcEmpty"
        [fillColors]="theme.arcFill"
        [thumbBg]="theme.thumbBg"
        [thumbBorderColor]="theme.thumbBorder"
        (valueChange)="getNumberLight($event)"
        (power)="getPower($event)"
        [type]="'light'"
        [mode__speed]="modeAuto"
      >
        <div class="slider-value-container" [ngClass]="{ off: !modeAuto }">
          <div class="value humidity h1">
            {{ humidity | ngxRound }}
            %
          </div>
        </div>
      </ngx-temperature-dragger2>
    </div>
  </div>
</div>
