<nb-card [ngClass]="{ on: on, off: !on }" (click)="toggleDevice()">
  <div class="icon-container">
    <div class="icon status-primary">
      <nb-icon [icon]="icon" [pack]="pack"></nb-icon>
    </div>
  </div>

  <div class="details">
    <div class="title h6">{{ name }}</div>
    <div class="status"></div>
  </div>
</nb-card>
